---
---

@import "{{ site.theme }}";

$mainColor : #ff2000;

h1, h2, h3, h4, h5, h6 {
    color: $mainColor;
}


header h1 {
    color: $mainColor;

}

header {
    border-bottom: 1px dashed $mainColor;
}

.card{
    color:white;
    border: dashed red;
    background-color: black ;
}

.list-group,.list-group-item{
    border: dashed red;
    color:white;
    background-color: black ; 
}